@font-face {
  font-family: "old";
  src: url("libs/fonts/im-fell-double-pica/IMFellDoublePica-Regular.ttf");
}
@font-face {
  font-family: "dongle";
  src: url("libs/fonts/dongle/Dongle-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

p {
  margin: 0;
}

a {
  font-size: 24px;
}

img {
  width: 100%;
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: 100vh 1fr 1fr 1fr 1fr 1fr;
  font-family: "old";
}

.main-section {
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-image: url("img/fondo.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.nav-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-section > div {
  width: 100%;
  max-width: 1280px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-section > div > div:nth-child(1) {
  font-size: 80px;
}

.nav-section > div > div:nth-child(2) > a {
  padding-left: 17px;
  font-family: "dongle";
}

.main-section > div:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.main-section > div:nth-child(2) > div {
  width: 100%;
  max-width: 600px;
  padding: 20px;
}

.main-section > div:nth-child(2) > div > p {
  margin-bottom: 17px;
  font-size: 40px;
}

.main-section > div:nth-child(2) > div > a {
  font-family: "dongle";
}

.main-section > div:nth-child(3) {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  letter-spacing: 5px;
  padding: 15px 0;
  font-family: "dongle";
}

.products-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 100vh);
  color: white;
}

.products-section > div:nth-child(2),
.products-section div:nth-child(3),
.products-section div:nth-child(6),
.products-section div:nth-child(7) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.products-section > div:nth-child(1) {
  background-image: url("img/w1.jpeg");
  background-size: cover;
  background-position: center;
}

.products-section > div:nth-child(2) {
  background: #e3a65a;
}

.products-section > div:nth-child(3) {
  background: #eeaea5;
}

.products-section > div:nth-child(4) {
  background-image: url("img/mano.jpeg");
  background-size: cover;
  background-position: center;
}

.products-section > div:nth-child(5) {
  background-image: url("img/rosa.jpg");
  background-size: cover;
  background-position: center;
}

.products-section > div:nth-child(6) {
  background: #cf8456;
}

.products-section > div:nth-child(7) {
  background: #506243;
}

.products-section > div:nth-child(8) {
  background-image: url("img/plantas.jpg");
  background-size: cover;
  background-position: center;
}

.products-section > div:nth-child(2) > p,
.products-section div:nth-child(3) > p,
.products-section div:nth-child(6) > p,
.products-section div:nth-child(7) > p {
  text-align: center;
  width: 100%;
  max-width: 400px;
}

.products-section > div:nth-child(2) > p:nth-child(2),
.products-section div:nth-child(3) > p:nth-child(2),
.products-section div:nth-child(6) > p:nth-child(2),
.products-section div:nth-child(7) > p:nth-child(2) {
  font-size: 40px;
  padding: 0px 25px;
}

.featured-section {
  background: #f3efed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.featured-section > div {
  display: grid;
  grid-template-rows: auto 1fr;
  padding: 100px;
}

.featured-section > div > div:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  padding-bottom: 70px;
}

.featured-section > div > div:nth-child(2) {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  max-width: 800px;
}

.get-started-section {
  background: #efaea6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 60px;
}

.get-started-section > div {
  width: 100%;
  max-width: 300px;
  text-align: center;
}

.get-started-section > div > p {
  margin-bottom: 20px;
  font-size: 40px;
  color: white;
}

.get-started-section > div > a {
  color: white;
  font-family: "dongle";
}

.follow-us-section {
  background-color: #f3efed;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  text-align: center;
}

.follow-us-section > div {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 25px;
  padding: 40px;
  width: 100%;
  max-width: 800px;
}

.follow-us-section > div > div:nth-child(1) {
  font-family: "dongle";
  font-size: 30px;
}

.follow-us-section > div > div:nth-child(2) {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.follow-us-section > div > div:nth-child(2) > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.follow-us-section > div > div:nth-child(2) > div:nth-child(1) {
  background-image: url("img/w1.jpeg");
  background-position: center;
  background-size: cover;
}

.follow-us-section > div > div:nth-child(2) > div:nth-child(2) {
  padding: 5px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: #e3a65a;
  color: white;
}

.follow-us-section > div > div:nth-child(2) > div:nth-child(3) {
  background-image: url("img/w2.jpeg");
  background-position: center;
  background-size: cover;
}

.follow-us-section > div > div:nth-child(2) > div:nth-child(4) {
  background-image: url("img/w3.jpeg");
  background-position: center;
  background-size: cover;
}

.follow-us-section > div > div:nth-child(2) > div:nth-child(5) {
  background-image: url("img/w4.jpeg");
  background-position: center;
  background-size: cover;
}

.follow-us-section
  > div
  > div:nth-child(2)
  > div:nth-child(2)
  > p:nth-child(1) {
  font-size: 7px;
}

.follow-us-section
  > div
  > div:nth-child(2)
  > div:nth-child(2)
  > p:nth-child(2) {
  font-size: 10px;
}

.follow-us-section
  > div
  > div:nth-child(2)
  > div:nth-child(2)
  > p:nth-child(3) {
  font-size: 7px;
}

.follow-us-section > div > div:nth-child(2) > div:nth-child(6) {
  background: #efaea6;
  padding: 5px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.follow-us-section
  > div
  > div:nth-child(2)
  > div:nth-child(6)
  > p:nth-child(1) {
  font-size: 7px;
}

.follow-us-section
  > div
  > div:nth-child(2)
  > div:nth-child(6)
  > p:nth-child(2) {
  font-size: 10px;
}

.follow-us-section
  > div
  > div:nth-child(2)
  > div:nth-child(6)
  > p:nth-child(3) {
  font-size: 7px;
}

.footer-section {
  background-color: #c0c0c0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.footer-section > div {
  width: 100%;
  max-width: 800px;
  display: grid;
  grid-template-columns: auto 1fr;
}

.footer-section > div > div:nth-child(1) > p {
  font-size: 40px;
  padding: 25px;
}

.footer-section > div > div:nth-child(2) {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 25px;
  font-family: "dongle";
  font-size: 20px;
}

.footer-section > div > div:nth-child(2) > div {
  display: flex;
  justify-content: center;
  padding-left: 15px;
}
